.hero
  text-align: center
  display: grid
  gap: 3em

  &__section
    display: grid
    gap: 1em
    justify-items: center

  &__title
    color: dark
    font-size: 2.5rem
  
  &__description
    font-size: 1.3rem
    max-width: 40ch
    margin-inline: auto
    line-height: 1.5

  &__button
    background-color: dark
    border-radius: 15px
    display: block
    text-decoration: none
    color: light
    font-size: 1.2rem
    padding: 1em 2em
    margin-block: 1em
    width: max-content
  
  &__footer
    margin-block: 1em
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around