.navbar
  display: flex
  justify-content: space-between
  padding: 1.5em 1em

  &__menu
    border: none
    background-color: transparent
    
  &__container
    position: absolute
    inset: 0
    background-color: transparentify(dark,.5)
  
  &__content 
    background: white
    color: main
    min-height: 100%
    width: 70%
    margin-inline-start: auto
    padding: 1.2em 2em
    display: flex
    flex-direction: column

  &__item--sublist
    padding-block-start: 1em
    padding-inline-start: 2em
    display: grid
    gap: 1em

  &--main
    display: grid
    gap: 1em
  

  &--login
    margin-block-start: 2em
    text-align: center

    & > *
      padding-block: .8em
      border-radius: 15px

  &__close
    align-self: end

  &__title
    font-size: 1rem
    font-weight: regular
  &__arrow
    margin-inline-start: .5em

  &__item

    &--todo
      list-style: url('../images/icon-todo.svg')
    &--calendar
      list-style: url('../images/icon-calendar.svg')
    &--reminder
      list-style: url('../images/icon-reminders.svg')
    &--planning
      list-style: url('../images/icon-planning.svg')
    
    &--register
      border: 2px solid main

@media (min-width: 800px)
  .navbar
    display: flex;
    align-items: center;
    justify-content: start
    gap: 1em
    padding-inline: 2em

    &__close,
    &__menu
      display: none
    
    &__title
      display: flex;
      align-items: center;
    
    &__content
      background-color: transparent
      margin: 0
      padding: 0
      width: auto
      flex-direction: row
      justify-content: space-between
   
    &--main
      display: flex
      align-items: center
      justify-content: space-around
      gap: 0
      width: 50%

    &--login
      margin: 0
      display: flex
      align-items: center
    &__item
      position: relative
    &__item--sublist
      position: absolute
      right: 0
      background-color: light 
      border-radius: 15px
      padding: 1em 2em
      box-shadow: 0px 0px 30px rgba(0,0,0,0.2)
    
    #features
      padding-inline-start: 2.5em
    &--login
      gap: 1em

    &__item--register
      padding: .8em 1.2em;

  div.navbar__container
    display: block
    position: static
    background-color: transparent
    width: 100%