.navbar
  display: flex
  justify-content: space-between
  padding: 1em

  &__menu
    border: none
    background-color: transparent
    
  &__container
    position: absolute
    inset: 0
    rigth: 50%
    background-color: transparentify(dark,.5)

  &__content 
    background: white
    color: main
    min-height: 100%
    width: 70%
    margin-inline-start: auto
    padding: 1.2em 2em
    display: flex
    flex-direction: column

  &__item--sublist
    padding-block-start: 1em
    padding-inline-start: 2em
    display: grid
    gap: 1em

  &--main
    display: grid
    gap: 1em
  

  &--login
    margin-block-start: 2em
    text-align: center

    & > *
      padding-block: .8em
      border-radius: 15px

  &__close
    align-self: end

  &__title
    font-size: 1rem
    font-weight: regular
  &__arrow
    margin-inline-start: .5em

  &__item

    &--todo
      list-style: url('../images/icon-todo.svg')
    &--calendar
      list-style: url('../images/icon-calendar.svg')
    &--reminder
      list-style: url('../images/icon-reminders.svg')
    &--planning
      list-style: url('../images/icon-planning.svg')
    
    &--register
      border: 2px solid main
